.site-title {
  font-size: 40.62px;
  font-family: Arial, sans-serif;
}
html {
  font-size: 25px;
}

body {
  background-color: #ccffee;
}
body {
  font-family: Arial, sans-serif;
}
body {
  background-color: rgba(207, 247, 255, 0.5);
}
img,
video {
  max-width: 100%;
  height: auto;
}
p {
  color: blue;
}

p {
  color: #00bf0f;

  background-color: #ccffee;
}

footer {
  background-color: rgb(167, 0, 0);
  font-size: 24.62px;
}
